<div class="chat-window">
  <!-- Chat Header -->
  <div class="chat-header">
    <div class="profile-info">
      <img
        src="https://www.w3schools.com/w3images/avatar2.png"
        alt="Avatar"
        class="avatar" />
      <div class="profile-details">
        <h2>{{ title }}</h2>
        <span class="status">{{ status }}</span>
      </div>
    </div>

    <div class="search-container">
      <button class="icon-button search-button" (click)="toggleSearch()">
        <i class="fa fa-search"></i>
      </button>

      <div *ngIf="isSearchActive" class="search-bar">
        <input
          type="text"
          placeholder="Search..."
          [value]="searchQuery"
          (input)="onSearchChange($event)" />
        <button class="search-icon-button">
          <i class="fa fa-chevron-up"></i>
        </button>
        <button class="search-icon-button">
          <i class="fa fa-chevron-down"></i>
        </button>

        <!-- Calendar Icon Button -->

        <button (click)="openCalendar()" class="calendar-icon-button">
          <i class="fa fa-calendar"></i>
        </button>
      </div>
    </div>
  </div>

  <!-- Chat Body -->
  <div class="messages">
    <div class="chat-container" #chatContainer>
      <div>
        <!-- Calendar Date Picker -->
        <input
          matInput
          [matDatepicker]="picker"
          placeholder="Select a date"
          style="display: none"
          (dateChange)="onDateChange($event)" />
        <mat-datepicker #picker startView="month"></mat-datepicker>
      </div>
      <button class="load-more-button" (click)="loadOlderMessages()">
        Load More
      </button>
      <!-- Load older messages -->
      <div
        *ngIf="fetchedMessages.length === 0 && !isFetchingMessages"
        class="no-chats">
        No chats available
      </div>

      <div *ngIf="fetchedMessages.length !== 0">
        <div *ngFor="let chat of fetchedMessages">
          <div class="chat-date">{{ getFormattedDate(chat.date) }}</div>
          <div *ngFor="let message of chat.messages">
            <div *ngIf="message.sender" class="message from-you">
              <div class="message-text">
                <div
                  class="message-content"
                  [innerHTML]="sanitizeHtml(message.content)"></div>

                <div class="message-time">{{ formatTime(message.time) }}</div>
              </div>
            </div>

            <div *ngIf="!message.sender" class="message from-other">
              <div class="message-text">
                <div
                  class="message-content"
                  [innerHTML]="sanitizeHtml(message.content)"></div>

                <div class="message-time">{{ formatTime(message.time) }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="load-more-button" (click)="loadNewerMessages()">
        Load More
      </button>
      <!-- Load newer messages -->
    </div>
    <!-- Scroll to Bottom Button -->
    <button
      *ngIf="!isAtBottom"
      class="scroll-to-bottom-btn"
      (click)="scrollToBottom()"
      aria-label="Scroll to Bottom">
      <i class="fas fa-arrow-down"></i>
    </button>
  </div>

  <!-- Chat Footer -->
  <div class="chat-footer">
    <button class="icon-btn emoji-btn" aria-label="Emoji Picker">
      <i class="fas fa-smile"></i>
    </button>

    <input
      type="text"
      [value]="message"
      (input)="onInputChange($event)"
      (keydown)="onKeydown($event)"
      placeholder="Type a message"
      class="chat-input" />

    <button
      class="icon-btn send-btn"
      [disabled]="!message"
      aria-label="Send Message"
      (click)="sendMessage()">
      <i class="fas fa-paper-plane"></i>
    </button>

    <button class="icon-btn attachment-btn" aria-label="Attach File">
      <i class="fas fa-paperclip"></i>
    </button>

    <button class="icon-btn voice-btn" aria-label="Record Voice Message">
      <i class="fas fa-microphone"></i>
    </button>
  </div>
</div>
